# ========================
# Python Virtual Environment
# ========================
venv/
ENV/
env/
.env
.venv/

# ========================
# Python Cache & Compiled Files
# ========================
__pycache__/
*.py[cod]
*$py.class
*.so

# ========================
# IDEs & Editors
# ========================
.idea/
.vscode/
*.swp
*.swo

# ========================
# Databases (jika ada di lokal)
# ========================
*.sqlite
*.db

# ========================
# System Files
# ========================
.DS_Store
Thumbs.db