# Framework Web
Flask
flask-cors
gunicorn

# Autentikasi & Database
pymongo
bcrypt
PyJWT

# Machine Learning & NLP
tensorflow
transformers
scikit-learn==1.4.2
joblib
nltk
Sastrawi

# Data Handling
numpy
pandas
