# Framework Web
Flask
flask-cors
gunicorn

# Autentikasi & Database
pymongo
bcrypt
PyJWT
bson

# Machine Learning & NLP
tensorflow
transformers
scikit-learn
joblib
nltk
Sastrawi

# Data Handling
numpy
pandas
